.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the loader is on top of other content */
  }
  
  .loader {
    border: 5px solid #f3f3f3; /* Light grey border */
    border-top: 5px solid #3498db; /* Blue border for spinning circle */
    border-radius: 50%; /* Rounded border makes it a circle */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Rotate the circle */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  