.footer {
    background-color: #000000;
    padding: 50px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo {
    margin-right: 20px;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .footer-company {
    flex-grow: 1;
  }
  
  .company-name {
    margin: 0;
  }
  
  .footer-bottom {
    margin-top: 20px;
  }
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .footer-links ul li:last-child {
    margin-right: 0;
  }
  
  .footer-links ul li a {
    font-size: 0.9rem;
    color: #555;
    text-decoration: none;
  }
  
  .footer-links ul li a:hover {
    color: #fff4f4;
  }
  